body {
    font-family: Arial, sans-serif;
    background: rgb(5, 104, 150);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    width: 350px;

  }
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 11px 0;
    border: 1px solid #ccc;
    border-radius: 5px;

    @media (max-width: 360px){
    width: 150%;
    padding: 15px;
    height: 28px;
    }

  }
  button {
    padding: 10px 20px;
    background-color: rgb(5, 104, 150);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
  }
  .result {
    margin-top: 20px;
    font-weight: bold;
    color: green;
  }

  @media (max-width: 360px) {
    .container {
      padding: 20px;
    }

    button, input[type="text"] {
      font-size: 14px;
      padding: 10px;
    }
}